/* Google Fonts Library */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ************************************************************************* */
/* **************************   General Rules   **************************** */
/* ************************************************************************* */
body * {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: #383838;
}


/* ************************************************************************* */
/* *****************************    Header    ****************************** */
/* ************************************************************************* */
header {
    background-color: #f7f5f2;
    padding: 10px 40px;
    width: 100%;
    line-height: 1.6;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* Page's Main Title */
header div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


header h1 {
    font-size: 20pt;
    font-weight: 700;
}


header h2 {
    font-size: 16pt;
    font-weight: 500;
}


header a:hover {
    color: #4d96ff;
    text-decoration: none;
}


/* Available Routes List */
header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}


/* Single Route Item */
header li {
    background-color: #383838;
    color: #4d96ff;
    padding: 5px 10px;
    font-weight: 600;

    border: 2px solid #383838;
    border-radius: 6px;
}


header li:hover {
    cursor: pointer;
    background-color: #4d96ff;
    color: #383838;
}


/* ************************************************************************* */
/* *****************************    Footer    ****************************** */
/* ************************************************************************* */
footer {
    background-color: #f7f5f2;
    padding: 10px 40px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 0;
}


/* Social Media Links */
footer ul {
    width: 70px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


footer ul i {
    font-size: 24pt;
}


footer ul i:hover {
    color: #4d96ff;
}


/* Footer's Main Quote */
footer p {
    font-size: 14pt;
}


footer p i {
    color: #ff0000;
}
