<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Page's Metadata -->
    <%- include('./partials/metadata.ejs') %>
</head>
<body>
    <!-- Page's Header -->
    <%- include ('./partials/header.ejs') %>

    <p>Hello from index.ejs file</p>

    <!-- Page's Footer -->
    <%- include ('./partials/footer.ejs') %>
</body>
</html>
