<footer>
    <ul>
        <li>
            <a href="https://www.linkedin.com/in/ibrahimelmokhtar/" target="_blank" title="LinkedIn Account">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </li>

        <li>
            <a href="https://github.com/ibrahimelmokhtar" target="_blank" title="GitHub Account">
                <i class="fa-brands fa-github"></i>
            </a>
        </li>
    </ul>

    <p>Made with <i class="fa-solid fa-heart"></i> and TypeScript</p>
</footer>
