<header>
    <div>
        <h1>Image Processing API</h1>
        <h2>, First project at <a href="https://egfwd.com/" target="_blank">@egFWD</a> via <a href="https://www.udacity.com/" target="_blank">@Udacity</a></h2>
    </div>

    <!-- Available Routes -->
    <ul>
        <li data-usedRoute="resize">/resize</li>
        <li data-usedRoute="grayscale">/grayscale</li>
        <li data-usedRoute="threshold">/threshold</li>
        <li data-usedRoute="negative">/negative</li>
    </ul>
</header>
