<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Ibrahim El-Mokhtar">
<meta name="keywords" content="HTML5, CSS3, JavaScript, TypeScritp, Image Processing API, egFWD, Udacity">
<meta name="description" content="Image Processing API for resizing users' images">

<!-- Link to Font Awesome Library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>

<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../css/styles.css">

<!-- Website's page icon -->
<link rel="shortcut icon" href="./icons/images-solid.svg">

<title>Image Processing API</title>
